*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
  }
  ::selection{
  color:#ffffff;
  background-color:#8892e9;}
  /*Nav*/
  .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 100%;
    width: 100%;
    margin: auto;
    background: #1B1D1F;
  }
  .menu{
    display: flex;
  }
  .menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
  }
  .logo{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
  }
  .logo span{
    color: yellow;
  }
  .menu li a:hover,
  .menu .active{
    color: #40AA54;
    transition: all ease 0.3s;
  }
  /*Home*/
  #home{
    max-width: 1250px;
    height: 500px;
    border-radius: 3px;
    background-color: #B0B0CC;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url(images/web-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: bottom right;
    /* display: flex; */
    align-items: center;
  }
  .home-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 70px;
    position: relative;
    margin-top: 15%;
  }
  .home-text h1{
    font-size: 3rem;
    line-height: 55px;
    color: #202020;
    line-height: 60px;
  }
  .home-text strong{
    color: #4EB060;
    font-size: 1.4rem;
    margin-top: 4px;
  }
  .search-box{
    background-color: #FFFFFF;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 15%;
    padding: 0px 5px 0px 20px;
    border-radius: 30px;
  }
  .search-box i{
    font-size: 1.3rem;
    color: #3B3B3B;
    margin: 0px 10px;
  }
  .search-box .search-input{
    height: 40px;
    /* border: none; */
    width: 50%;
    padding: 0px 10px;
    outline: none;
  }
  .search-box .search-btn:hover{
    background-color: #5CCF71;
    transition: all ease 0.3s;
  }
  .cat{
    margin-top: -5%;
    /* height: 50px; */
    width: 50px;
  }
  .cat img{
    height: 80px;
    padding: 5px;
  }
  .game-btn{
   padding-left: 70px;
  }
  .btn1{
    outline: none;
    border: none;
    width: 250px;
    height: 50px;
    background: yellow;
  }
  .btn2{
    outline: none;
    border: none;
    width: 250px;
    height: 50px;
    color: orange;
  }
  /*category*/
  #category{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
  }
  .category-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .category-heading h2{
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
  }
  .category-heading span{
    color: #A7A7A7;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  .category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    border-radius: 10px;
    min-height: 130px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.03);
  }
  .category-box img{
    height: 35px;
    width: 50px;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.1s;
  }
  .category-box span{
    color: #393939;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
  }
  .category-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
  }
  /* products */
  #products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .gadgets{
    border: solid rgba(198, 203, 198);
    border-radius: 5px;
    margin-bottom: 2%;
    text-align: center;
  }
  /*  */
  .games-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  }
  .games-left-col,
  .games-right-col{
    flex-basis: 50%;
    padding: 20px;
  }
  .games-right-col img,
  .games-left-col img{
    width: 100%;
  }
  .controller{
    max-width: 1250px;
    height: 500px;
    border-radius: 3px;
    background-color: #B0B0CC;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url(images/controller-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: bottom right;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  /*---courses---*/
  #Testimonials{
    padding:40px;
  }
  .testimonials-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .testimonials-right-col{
    /* flex-basis: 50%; */
    padding: 20px;
  }
  .testimonials-right-col img{
    width: 360px;
  }
  .testimonials-left-col{
    /* flex-basis: 50%; */
    padding-left: 20%;
  }
  .testimonials-text{
    width: 450px;
  }
  .subscription{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #ECF7EE;
    height: 30vh;
  }
  .subscription p{
    font-size: 2rem;
  }
  .subscription input{
    outline: none;
    border: none;
    background: yellow ;
    width: 360px;
    height: 60px;
    padding: 10px;
  }
  /*footer*/
  footer{
    background-color: #1B1D1F;
    padding: 50px 20px;
  }
  .footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-logo a{
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .footer-logo a span{
    color: yellow;
  }
  .footer-logo p{
    color: #FAFAFA;
    margin: 10px;
  }
  .footer-links ul{
    margin-top: 1px;
    line-height: 2rem;
    color: #FAFAFA;
  }
  .footer-links ul li a{
    color: #FAFAFA;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: all ease 0.3s;
  }
  .footer-links li a:hover{
    opacity: 1;
    transition: all ease 0.3s;
  }
  
  
  
  
  
  